{% extends "page/base.html"%}

{% block content %}
  <img src="/media/ski360.jpg" alt="">
	<p class="text-justify">Living Montreal for more than 20 years, I do love this beautiful city.  </p>

  <h4>I am Real Estate photographer</h4>

  <p class="text-justify" >Currently I am servering Great Montreal area, including Montreal Island, Laval, Lougueuil, Brossard. Future region, Ottawa will be also avaiable soon.</p>

  <p class="text-justify">I am provide website management service. I have created serval websites, using linux/discuz, linux/php/wordpress, linux/drupal techniques.</p>

  <p class="text-justify">I have created this website using python/Django technique. I will share the technique in my blog.</p>

  <strong>I am still developing this site...</strong>
{% endblock content %}
